<div id="banner">
  <div class="home-logo">
    <h1>SAFETY</h1>
    <h2>FOR  ALL</h2>
  </div>
  <%# <%= image_tag 'logoe.png', class: 'home-logo'%>
</div>


<div class="container text-center">
  <div class="row pagina">
    <div class="col-6"><%= image_tag 'iphone.png'%></div>
    <div class="col-6 texto"><h2>O melhor aplicativo de segurança pessoal para    smartphones. Já disponível para Apple e Android, faça já o seu download.</h2></div>
  </div>
</div>
