#reports-container {
  height: calc(100vh - 110px);
  width: 400px;
  overflow-y: auto;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background-color: rgb(231, 231, 231) !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: bold;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 0px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 0;
  padding: 3px;
}

.card-product .card-product-infos {
  // padding: 25px;
  width: 100%;
}

.card-product-infos {
  font-family: Lato, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.botao {
  background-color: #354566;
  color: white;
  border: 0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  margin: 10px;
  // padding: 5px 10px;
  letter-spacing: 2px;
  width: 80%;
    &:hover {
      background-color: #4a8cf8;
      color: black;
    }
  // font-size: 10px;
  // font-weight: bold;
  // background-color: rgb(186, 189, 6);
  // color: white;
  // // margin-top: 20px;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  // border-radius: 11px;
}

.botao2 {
  font-size: 10px;
  font-weight: bold;
  background-color: blue;
  color: white;
  // margin-top: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 11px;
}

.info-report {
  font-family: Lato, sans-serif !important;
  text-align: center;
  line-height: 1.5;
  color: #354566;
  // padding: 5px 10px !important;
  border: 0;
  font-size: 12px !important;
  letter-spacing: 2px;


  // font-size: 10px;
  // font-weight: bold;
  // background-color: rgb(250, 47, 47);
  // color: white;
  // // margin-top: 20px;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  // border-radius: 11px;
  // padding: 50px;
  // padding: 6px 12px !important;
}

.info-report2 {
  font-size: 10px;
  font-weight: bold;
  background-color: rgb(6, 189, 6);
  color: white;
  // margin-top: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 11px;
  padding: 50px;
}
