.login-home {

}


.session-devise {
  padding: 15px;
}

.submit-devise {
  background-color: #354566;
  color: white;
  .btn {
    color:white;
  }
}

.btn-devise {
  font-size: 20px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color:#354566;
  background-color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
  }
}

.assist-devise {
  font-size: 12px;
  margin-top: 10px;

}
.assist-devise a {
  text-decoration: none;
  &:hover {
    color: #354566;
  }
}
