.mapboxgl-popup {
  max-width: 200px;
  // border-radius: 30px !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: bold;
  border-radius: 30px !important;
  padding-top: 10px;
  background-color: rgb(221, 221, 221) !important;
}

#map {
  height: calc(100vh - 110px);
}

.mapboxgl-popup-close-button {
  right: 15px !important;
    top: 15px !important;
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.card-product-img {
  border-radius: 15px;
}
