.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

// body {
//   background-color: black !important;
// }

.nav-link {
  color: rgb(255, 255, 255);
  font-family: Lato, sans-serif ;
  font-size: 19px;
  font-weight: bold;


}

.navbar-toggler-icon {
  color: white;
}

.pagina {
  margin-top: 0px !important;
}

.login-home {
  font-family: Lato, sans-serif ;
  font-size: 19px;
  font-weight: bold;
}
