<div class="background-form-review py-5">
  <div class="container-review">
    <h1 class="text-center py-3 pt-5">Crie seu comentário</h1>

      <div class='container text-center mt-5'>
        <%= simple_form_for [@report, @review] do |f| %>
          <%= f.input :content, label: 'Comentário', input_html: { style: 'height: 100px' } %>
          <%= f.submit class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
  </div>
</div>
